<h2>Carro</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Ano Fabricação</th>
            <th>Dono</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<form action="/" method="post">
    <label for="id" class="">Id</label>
    <input type="text" name="Id" value="" class="form-control" />
    <label for="modelo" class="">Modelo</label>
    <input type="text" name="Modelo" value="" class="form-control" />
    <label for="Marca" class="">Marca</label>
    <input type="text" name="Marca" value="" class="form-control" />
    <label for="AnoFabricacao" class="">Ano Fabricação</label>
    <input type="date" name="AnoFabricacao" value="" class="form-control" />
    <label for="PessoaModelsId" class="">Pessoa</label>
    <select name="PessoaModelsId">

    </select>

    <input type="submit" value="Gravar" class="btn btn-success" />
</form>


@section scripts{
    <script>

        $(function () {
            populaTabela();
            populaSelect();
            $('input[type=submit]').click(function (event) {
                event.preventDefault();
                enviar();
            })
        });

        function populaTabela() {
            $.ajax({
                url: "/api/carro/lista",
                type: 'GET',
                dataType: 'json',
                error: function (x, y, z) {
                    console.log(x, y, z);
                },
                success: function (ret) {
                    var html = '';
                    for (var i = 0; i < ret.length; i++) {
                        html += '<tr><td>' + ret[i].Id + '</td>';
                        html += '<td>' + ret[i].Modelo + '</td>';
                        html += '<td>' + ret[i].Marca + '</td>';
                        html += '<td>' + ret[i].AnoFabricacao + '</td>';
                        html += '<td>' + ret[i].Pessoa.Nome + '</td>';
                        html += '<td><a href="#" data-id="' + ret[i].Id +
                            '" class = "btn btn-danger" onClick="excluir(event, this);">Excluir</a></td></tr>';
                    }
                    $('table tbody').empty().append(html);
                }
            });
        }

        function populaSelect() {
            $.ajax({
                url: "/api/pessoa/lista",
                type: 'GET',
                dataType: 'json',
                error: function (x, y, z) {
                    console.log(x, y, z);
                },
                success: function (ret) {
                    var html = '';
                    for (var i = 0; i < ret.length; i++) {
                        html += '<option value="' + ret[i].Id + '">' + ret[i].Nome + '</option>';
                    }
                    $('select').empty().append(html);
                }
            });
        }

        function enviar() {
            $.ajax({
                url: "/api/carro/novo",
                type: 'POST',
                dataType: 'json',
                data: $('form').serialize(),
                error: function (x, y, z) {
                    console.log(x, y, z);
                },
                success: function (ret) {
                    populaTabela();
                }
            });
        }

        function excluir(event, $this) {
            event.preventDefault();
            var id = $($this).data('id');
            $.ajax({
                url: "/api/carro/excluir/" + id,
                type: 'DELETE',
                dataType: 'json',
                error: function (x, y, z) {
                    console.log(x, y, z);
                },
                success: function (ret) {
                    populaTabela();
                }
            });
        }
    </script>
}





