
<div class="jumbotron">
    <a href="@Url.Action("Pessoa")", class="btn btn-primary btn-lg btn-block">Pessoas</a>
    <a href="@Url.Action("Carro")" , class="btn btn-primary btn-lg btn-block">Carros</a>
</div>