@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Trabalho Final MVC2</h1>
    <p class="lead">Rodrigo Prandi Araújo</p>
</div>
<div>
    1 - Foi alterado o Template List.cs.t4 para criar um botão Novo que direciona para criação de um novo registro, tambem foi alterado a classe da tabela.
    <br />
    2 - Foi criado os modelos Pessoa e Tarefas, com relacionamento 1 * N e executado o Migrations.
    <br />
    3 - Foi colocado o SignalR no cadastro de tarefas.
</div>